- var user = user || {};
- var nickname = user.nickname;

.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		.container
			ul.nav
				li.active 
					a(href="/") Home
			- if (nickname)
				ul.nav.pull-right
					li.dropdown
						a(href="#", data-toggle="dropdown").dropdown-toggle #{nickname}
							b.caret
							ul.dropdown-menu
								li 
									a(href="/settings") Settings
								li
									a(href="/logout") Logout
