extends layout

block append scripts
	script(src="/javascripts/main.js")

block content 
	.container-fluid
		.row-fluid
			.span1
			.span11
				header.header
					h1 Upload new file
		.row-fluid
			.span1
			.span10
				form(action="/file", method="post", enctype="multipart/form-data").form-horizontal
					.pull-left
						.control-group
							label.control-label Name
							.controls
								input(type="text", name="name", placeholder="new file name")
						.control-group
							label.control-label Description
							.controls
								input(type="text", name="description", placeholder="new file description")
					.pull-left.offset1
						.control-group
							input(type="file", name="file")
						.control-group
							input(type="submit", value="Upload to server").btn.btn-success
								i.icon-upload 

		.row-fluid
			.span7
			.span4
				.pull-right
					button.btn.btn-danger
						i.icon-trash
						span  Delete
			.span1
		.row-fluid
			.span1
			.span10
				table.table.table-hover#files
					thead
						th ID
						th Name
						th Description


	script(type="text/template")#collection-template
		table.table.table-hover
			thead
				th ID
				th Name
				th Description
				th
				th
			tbody
	script(type="text/template")#item-template
		td <%= _id %>
		td <%= name %>
		td <%= description %>
		td 
			input(type="checkbox")
		td
			i.icon-trash
	script(type="text/javascript") var collection = !{filesList}
