extends layout

block append scripts
	script(src="/javascripts/main.js")

block content 
	.container-fluid
		.row-fluid
			.span1
			.span11
				header.header
					h1 Upload new file
		.row-fluid
			.span1
			.span5
				form(action="/file", method="post", enctype="multipart/form-data").form-horizontal
					.control-group
						label.control-label Name
						.controls
							input(type="text", name="name", placeholder="new file name")
					.control-group
						label.control-label Description
						.controls
							input(type="text", name="description", placeholder="new file description")
					.control-group
						.controls
							input(type="file", name="file")
					.control-group
						.controls
							input(type="submit", value="Upload to server").btn.btn-success 
		.row-fluid
			.span1
			.span10
				#files
	script(type="text/template")#collection-template
		table.table.table-hover
			thead
				th ID
				th Name
				th Description
			tbody
	script(type="text/template")#item-template
		td <%= id %>
		td <%= Name %>
		td <%= Description %>