doctype 5
html
    head
    title= title
    link(rel="icon", type="image/x-icon", href="/favicon.png")
    block default-styles
        link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    block default-scripts
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="/stylesheets/bootstrap/js/bootstrap.min.js")
        script(src="/javascript/underscore.js")
        script(src="/javascript/backbone.js")
        script(src="/javascript/main.js")
    block scripts
    body
        include header
        block content