extends layout

block append styles
	link(rel='stylesheet', href='/stylesheets/login.css')

block content
	.container
		.login-container
			section#login
				form(method="post", action="/login")
					h1 Login form
					div 
						input(type="text", name="username", placeholder="Nickname", id="username")
					div
						input(type="password", name="password", placeholder="Password", id="password")
					div.clearfix
						input(type="submit", value="Submit")
						//- a(href="#") Lost you password
						a(href="/register") Register
