body {
	padding-top: 60px;
	background: url('/images/login-background.png');
}
.container-fluid {
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	background: #f9f9f9;
	padding: 25px 0 0;
}
	